@import "color";
$css_prefix: klk;

$fontsize_small: 12px;
$fontsize_base: 14px;
$fontsize_medium: 16px;
$fontsize_large: 20px;
$fontsize_llarge: 24px;

$lineheight_small: 1.2;
$lineheight_base: 1.5;

// Animation
$animation-time: 0.3s;
$transition-time: 0.2s;
$ease-in-out: ease-in-out;
