/*品牌色*/
$color_primary: #ff5722;
$color_primary_o1: #fff1f0;
$color_primary_o2: #ffccbc;
$color_primary_o3: #ff906e;
$color_primary_o4: #ff5722;
$color_primary_o5: #e64a19;
$color_primary_o6: #bf360c;

/*辅助色*/

//red
$color_red: #e64340;
$color_red_r1: #ffebee;
$color_red_r2: #ffc8c7;
$color_red_r3: #f07573;
$color_red_r4: #e64340;
$color_red_r5: #d12d2a;
$color_red_r6: #bd1917;

//yellow
$color_ye: #ffa628;
$color_ye_y1: #fff7e0;
$color_ye_y2: #ffe9a8;
$color_ye_y3: #ffc65c;
$color_ye_y4: #ffa628;
$color_ye_y5: #ff8929;
$color_ye_y6: #ff6d29;

//green
$color_gr: #46b925;
$color_gr_g1: #efffe0;
$color_gr_g2: #d0f2aa;
$color_gr_g3: #a0d971;
$color_gr_g4: #46b925;
$color_gr_g5: #30a616;
$color_gr_g6: #1c9107;

//blue
$color_blue: #4985e6;
$color_blue_b1: #e6efff;
$color_blue_b2: #bed6fe;
$color_blue_b3: #659af0;
$color_blue_b4: #4985e6;
$color_blue_b5: #346bd1;
$color_blue_b6: #2052bd;

//cyan
$color_cyan: #04bfd7;
$color_cyan_c1: #d4faff;
$color_cyan_c2: #a8f5ff;
$color_cyan_c3: #40d2e6;
$color_cyan_c4: #04bfd7;
$color_cyan_c5: #0ba2bd;
$color_cyan_c6: #1589a3;

//teal
$color_teal: #009688;
$color_teal_t1: #e1f2ef;
$color_teal_t2: #b1ded5;
$color_teal_t3: #81ccbf;
$color_teal_t4: #009688;
$color_teal_t5: #00786c;
$color_teal_t6: #004d45;

/*灰色色阶(中性色)*/
/*主要文字*/
$color_gray_k1: #333;
$color_gray_k2: #666;
$color_gray_k3: #999;
/*辅助文字和图形*/
$color_gray_k4: #b2b2b2;
$color_gray_k5: #ccc;
$color_gray_k6: #e0e0e0;
/*背景色部分*/
$color_gray_k7: #f5f5f5;
$color_gray_k8: #fafafa;
$color_gray_k9: #fff;
